

 <div id="carouselPromotionalImage" class="carousel slide" data-ride="carousel" data-interval="6000" >
    <div class="carousel-inner">
      
       <div class="carousel-item active">   
         
          <div class="embed-responsive embed-responsive-16by9">        
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/Yfje3I6dvMs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
     
      <div class="carousel-item">
         
          <div class="embed-responsive embed-responsive-16by9">        
            <iframe  class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/ObQCj1zxFD8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
      
      
      
      <div class="carousel-item">                       
        
          <div class="embed-responsive embed-responsive-16by9"> 
            <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/dcrsxcFwLZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div> 
      </div> 

    </div>

    <a class="carousel-control-prev" href="#carouselPromotionalImage" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselPromotionalImage" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>  

  <div class="jumbotron">
    <h1 class="display-4">Hikking on tenerife with gregorio´s Wanderfamily</h1>
    <p class="lead">"We have been guiding our guests for 46 years to known and unknown places on the island of Tenerife."</p>
    <hr class="my-4">
    <p>Gregorio is a true "native" of Tenerife and a passionate hiker on his island. In 1972, Gregorio and his whole family began on Tenerife with guided tours for tourists. For this reason, Gregorio can be the only native hiking guide in Tenerife of himself and his family. In Puerto de la Cruz in the north of the island, there is hardly anyone who does not know Gregorio and his traveling family. Even among hiking enthusiasts who visit Tenerife, the name is well known. Today, the migrant family is continued by Victor, 
      the son of Gregorio, who brings the tradition of the Wanderfamily into a new era.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more about us</a>
  </div>

    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      
      
     

    
    
      

    <div align="center"  *ngIf="_productosServices.cargando">
      <h2> Cargando productos </h2>
      
        <!-- SVG animattion -->
      <div class="loader loader--style1" title="0">
          <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
          <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
            s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
            c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
          <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
            C22.32,8.481,24.301,9.057,26.013,10.047z">
            <animateTransform attributeType="xml"
              attributeName="transform"
              type="rotate"
              from="0 20 20"
              to="360 20 20"
              dur="0.5s"
              repeatCount="indefinite"/>
            </path>
          </svg>
        </div>

      <p>Espere por favor</p>

    </div>


      
      <div *ngIf="masonry" >
          <div      
            class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4"    *ngIf="!_productosServices.cargando"  >
          
            <a     *ngFor="let producto of _productosServices.productos"
            
            routerLink="/item/{{ producto.cod }}" class="animated fadeIn rk-item ae-masonry__item"
            
            >
              <!-- <img src="assets/productos/{{ producto.url }}.jpg" alt=""> -->
              <img src="assets/excursiones/{{ producto.url }}.jpg" alt="">
                <div  routerLink="/item/{{ producto.cod }}"      class="item-meta">
                    <h2>  {{ producto.titulo }}  </h2>
                    <p>{{ producto.categoria}}</p>
                    <br>
                    <h5>precio : {{ producto.precio }} €</h5>
            
                </div>
              
            </a>
              
            
          </div>
      </div>



          <div class="animated faseIn fast" *ngIf="!masonry" >
            <div class="row">
              <div   *ngFor="let producto of _productosServices.productos"  class="col">

                <div class="card" style="width: 18rem;">
                  <img src="assets/excursiones/{{ producto.url }}.jpg" class="card-img-top rounded " alt="...">
                  <div class="card-body">
                    <h5 class="card-title">  {{ producto.titulo }} </h5>
                    <p class="card-text">{{ producto.categoria}}</p>
                   
                    <a routerLink="/item/{{ producto.cod }}" class="btn btn-primary">Comprar : {{ producto.precio }} €</a>
                    <p></p>
                    <a href="#" class="card-link">Reservar</a>
                    
                  </div>
                </div>
                <br><br>
                <hr>
              </div>
              
            </div>

          </div>


    
  
  
    </section>


  

