/* You can add global styles to this file, and also import other style files */

.main-container{
  margin-top: 20px;
}

.animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

/*  
@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
} */

  
@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  

  /* SVG animation */
  /* body{
    padding: 1em;
    background: white;
    color: #777;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: 0 auto;
  } */
  
  
  /*
    Color del Loading
  */
  svg path,
  svg rect{
    fill: black;
  }




/*----------------------------------------
SOBREESCRIBIENDO  LOS ESTILOS DE BOOTSTRAP
------------------------------------------*/
  
.bg-primary-card {
  background-color: bisque;
}


.card:hover {
  -webkit-box-shadow: 0 0 10px #fffdfd3b;
          box-shadow: 0 0 20px #a1b99a3b;
}


.card-title,
.card-text {
  color: black;
}



.btn-primary {
  background-color: #21a3dfc5 !important;
  border-color: #656018 !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #8f8721 !important;
}

.btn-primary:active {
  background-color: #656018 !important;
  border-color: #3c390e !important;
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(184, 174, 43, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(184, 174, 43, 0.5) !important;
}


/* succes */

.btn-success {
  background-color: #6edd3ace !important;
  border-color: #c0c3e0 !important;
}

.btn-success:hover,
.btn-success:focus {
  background-color: #8f8721 !important;
}

.btn-success:active {
  background-color: #656018 !important;
  border-color: #3c390e !important;
}

.btn-success:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(200, 203, 235, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(200, 203, 235, 0.5) !important;
}



/* warning */
.btn-warning {
  background-color: #ebdf3ebe !important;
  border-color: #5861c2 !important;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: #1d6a53 !important;
}

.btn-warning:active {
  background-color: #124233 !important;
  border-color: #5861c2 !important;
}

.btn-warning:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(200, 203, 235, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(200, 203, 235, 0.5) !important;
}

/*--------------------------
ESTILOS DEL DISEÑO fuentes cargadas de google
---------------------------*/
/* 
html {
  font-size: 13px;
} */


p {
  font-size: 1rem;
  font-style: italic;
  font-family: 'Courier New', Courier, monospace;
} 

.p-lead{
  font-size: 5rem; 
  font-family: 'Roboto Slab', serif;
  color: bisque;
}
/* 
h1 { 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */


body {
  font-family: 'Open Sans', sans-serif;
  background-color: black;  
  color: white !important;
}
/* 
body { 
 
}  
*/
.jumbotron{
  background-color: black; 
  color: white !important;
}

hr {
   border-color: white; 
}

.puntero {
  cursor: pointer;
}

.img-circle {
  border-radius: 100%;
  width: 150px;
}
